.headhing{
    border-radius: 7px;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 5%;
    margin-top:4%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 5%;
    background-color: rgba(16, 51, 56, 0.504)
}
h1{
    color: #fff;
    font-weight: bolder;
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 2%;
    font-family: 'special' cursive;
}
h3{
    font-family: 'Archtitects' cursive;
}
span{
    font-family: fantasy;
}
.all-cards{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}
.card{
    margin-bottom: 2%;
    box-shadow: 2px 2px 3px 2px black;
    background-color: aliceblue;
}
.card-text{
    font-family: 'Handlee', cursive;
    font-weight: 900;
    font-size: 22px;
}
#quotes-button{
    float: right;
}
#name{
    color:rgb(88, 175, 7);
    font-weight: 900;
}
#date{
    float: right;
    font-size: 14px;
}
#datecolor{
    color: green;
    font-weight: 700;
}