#how{
    font-family: 'handlee',cursive;
    float: right;
}
#buttons{
    margin-top: 6%;
    margin-bottom: 10px;
    border-radius: 10px;
}
#like{
    font-size: 15px;
}
#dislike{
    font-size: 15px;
}
#del{
    float: right;
}
.hate{
    background-color: coral;
    color: black;
    margin-left: 10px;
}
#delete{
    font-size: 25px;
    margin-right: 2%;
}