/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=ABeeZee|Architects+Daughter|Handlee|Indie+Flower|Patrick+Hand|Special+Elite&display=swap');
@import './assets/bootstrap/dist/css/bootstrap.css';
@import './assets/font-awesome.web/css/fontawesome.css';
@font-face {
    font-family: 'Handlee';
    src: url(./assets/fonts/Handlee/Handlee-Regular.ttf);
}
body{
    background-image: url(./assets/images/bg.jpg);
    font-family: 'Handlee';
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}